html::-webkit-scrollbar {
    display: none;
}

.success {
    background-color: rgb(0 0 0 / 80%);
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    border: 1.5px solid #20bb44;
}

.primary {
    background-color: rgb(0 0 0 / 80%);
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    border: 1.5px solid #1c75d2;
}

.error {
    background-color: rgb(0 0 0 / 80%);
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    border: 1.5px solid #c10114;
}

.police {
    background-color: rgb(0 0 0 / 80%);
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    border: 1.5px solid #2197f2;
}

.ambulance {
    background-color: rgb(0 0 0 / 80%);
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    border: 1.1.5px solid #f44236;
}

.q-notification__progress {
    border-radius: 0;
}